body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    border: 20px black;
}

#playlist-cards{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 100px;
    justify-content: center;
    margin: 0 auto;
}

.footer{
    border: 1px black solid;
    background-color: gainsboro;
    padding: 50px;
}

.playlist-card{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    width: 250px;
    height: 325px;
}

.playlist-img{
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 97%;
}

.playlist-title{
    padding: 0%;

}

.playlist-title-name{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    gap: 0;
}

.playlist-title{
    margin-bottom: 0;
}

.creator-name{
    margin-top: 6px;
}

.like-count{
    margin-top: 5px;
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 10px;
    margin-bottom: 80px;
    border: 1px black solid;
}


.banner-links{
    display: flex;
    gap :15px;
}
