body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    border: 20px black;
}


#playlist-cards{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 120px;
    justify-content: center;
}

.playlist-card{
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    width: 300px;
    height: 420px;
}

.playlist-img{
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 97%;
}

.like-count{
    display: flex;
    align-items: center;
}

.like-count p{
    margin: 0;
    align-items: center;
    margin-top: auto;
    align-self: flex-end;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 10px;
    margin-bottom: 80px;
    border: 1px black solid;
}


.banner-links{
    display: flex;
    gap :15px;
}
